
/* customice Headerfields*/
/*.tl_search .tl_text{*/
	/*width: 300px;*/
/*}*/


/*#tl_moverview h2 {*/
    /*background: none repeat scroll 0 0 #f6f6f6;*/
    /*border-top: 1px solid #e9e9e9;*/
    /*margin: 18px 0 0;*/
    /*padding: 2px 6px 3px;*/
/*}*/

/*#tl_moverview .tl_module_desc {*/
    /*background: none repeat scroll 0 0 #fff;*/
    /*border-top: 1px solid #e9e9e9;*/
    /*padding: 8px 6px;*/
/*}*/
/* custom button-styles*/
.export_csv{
	background:url("../icons/iconCSV.png") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.export_pdf{
	background:url("../icons/iconPDF.gif") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.check_reminder{
	background:url("../icons/refresh.png") no-repeat left center;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
.loan_finish {
	background:url("../icons/ok.gif") no-repeat left center;
	color:green;
    margin-left: 15px;
    padding: 2px 0 3px 20px;
}
/** Config-Overview */
.pmb_config_wrapper{
    margin: 2%;
}
.pmb_config_wrapper h1{
    margin-bottom:20px;
}
.pmb_config_wrapper h2{
    margin:10px 0;
    padding-top:10px;
    border-top:1px solid #ddd;
}
.pmb_config_wrapper h3{
    margin-bottom: 5px;
}
.pmb_config_wrapper i.icon{
    background-repeat: no-repeat;
    background-position: 0 0;
    width:16px;
    height: 16px;
    display: inline-block;
}
.pmb_module_desc p{
    line-height: 1.2rem;
}
